services:
  frontend:
    build:
      context: .
      args:
        NEXT_PUBLIC_CS_API_URL: ${NEXT_PUBLIC_CS_API_URL:-}
        NEXT_PUBLIC_SOURCING_API_URL: ${NEXT_PUBLIC_SOURCING_API_URL:-}
    container_name: leviosa-fe-cs
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - GEMINI_API_KEY=${GEMINI_API_KEY:-}
